<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test 1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Test page 1</h1>

{% if testing %}
<ul>
    <li><a href="test1/{{testing.test_int}}/"> {{ testing }} </a></li>
</ul>
{% else %}
<p> No test classes available </p>
{% endif %}
</body>
</html> 
